main {
    height: calc(100vh - 64px);
    background-image: url('../../../assets/img/wallpaper1.jpg');
    background-position: center;
    background-size: cover;
}

a#logo {
    height: 60%;

    > img {
        height: 100%;
    }
}