@import 'src/vars.scss';

:host {
  touch-action: none;
  user-select: none;
  cursor: -webkit-grabbing;
}

:host > div {
  position: fixed;
  width: 30px;
  height: 1.5em;
  transform: translate(-50%, -50%);

  > hr {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 1em;
    background-color: $accent;
    transform: translate(-50%, -50%);
    border: none;
  }

  > span {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary;
    border: 2px solid $primary;
    border-style: outset;
    border-radius: 100%;
    font-size: small;
    padding: 1px;
    color: white;
  }
}
