<mat-toolbar color="primary">
    <a href="/" id="logo">
        <img src="../../../assets/logo/logo_single.svg" alt="" srcset="">
    </a>
    <h1>Schedules</h1>
    <i class="material-icons" id="account_circle"> account_circle </i>
</mat-toolbar>
<main>
    <section id="my-boards">
        <h1>My Boards</h1>
        <div class="content">
            <app-board-card></app-board-card>
            <app-board-card></app-board-card>
            <app-board-card></app-board-card>
            <app-board-card></app-board-card>
            <app-board-card></app-board-card>
            <button mat-stroked-button id="add-board">
                <i class="material-icons"> add </i>
                <span>Add Board</span>
            </button>

            <div class="invisible"></div>
            <div class="invisible"></div>
            <div class="invisible"></div>
            <div class="invisible"></div>
            <div class="invisible"></div>
        </div>

    </section>
</main>