<mat-toolbar color="primary">
    <app-date-picker></app-date-picker>
    <div class="center">
        <a href="/" id="logo">
            <img src="../../../assets/logo/logo_single.svg" alt="" srcset="">
        </a>
        <h1>WS Schedule</h1>
    </div>
    <i class="material-icons"> send </i>
    <i class="material-icons"> settings </i>
    <i class="material-icons"> account_circle </i>
</mat-toolbar>
<main>
    <section name="areas">
        <span class="title">Areas</span>
        <div class="content">
            <button mat-raised-button color="primary"> Area 1 </button>
            <button mat-raised-button> Area 1 </button>
            <button mat-raised-button> Area 1 </button>
            <button mat-raised-button> Area 1 </button>
            <button mat-raised-button> Area 1 </button>
            <button mat-raised-button> Area 1 </button>
            <button mat-raised-button> Area 1 </button>
            <button mat-raised-button> Area 1 </button>
            <button mat-raised-button> Area 1 </button>
        </div>
    </section>

    <app-expanding-section name="tasks">
        <span class="title">Tasks</span>
        <div class="content">
            <button mat-raised-button> Task 1 </button>
            <button mat-raised-button> Task 1 </button>
            <button mat-raised-button> Task 1 </button>
            <button mat-raised-button> Task 1 </button>
            <button mat-raised-button> Task 1 </button>
            <button mat-raised-button> Task 1 </button>
            <button mat-raised-button> Task 1 </button>
            <button mat-raised-button> Task 1 </button>
            <button mat-raised-button> Task 1 </button>
            <button mat-raised-button> Task 1 </button>
            <button mat-raised-button> Task 1 </button>
            <button mat-raised-button> Task 1 </button>
        </div>
    </app-expanding-section>

</main>