mat-toolbar {
  > div.center {
    > a#logo {
      margin-right: 10px;
      > img {
        height: 60%;
      }
    }
  }
}

main {
  padding: 0;
  section[name="areas"],
  section[name="tasks"] {
    ul.content {
      margin: 0;
      padding: 0;
      display: flex;

      .btn-add {
        font-size: small;
      }
    }
  }

  section[name="areas"] {
    button.area-item {
      display: inline-block;
      font-size: large;
      padding: 10px 25px;
      margin: 0 5px;
      flex: 0 0 auto;
    }

    .btn-add {
      margin: 0 5px;
    }
  }

  section[name="tasks"] {
    $item-height: 40px;
    margin-top: 20px;

    .btn-add {
      height: $item-height;
      margin: 0 5px;
    }

    span.task-item {
      height: $item-height;
      display: inline-block;
      padding: 10px;
      margin: 0 5px;
      touch-action: none;
      user-select: none;
      cursor: -webkit-grab;
    }
  }

  app-timetable {
    display: block;
    margin-top: 20px;
  }

}


div[name="drop-task-cursor"]{
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;

  > hr {
    width: 0;
    height: 20px;
    border: 1px solid red;
    background: none;
  }
}