<mat-toolbar color="primary">
    <app-date-picker></app-date-picker>
    <div class="center">
        <a href="/" id="logo">
            <img src="../../../assets/logo/logo_single.svg" alt="" srcset="">
        </a>
        <h1>WS Schedule</h1>
    </div>
    <i class="material-icons"> send </i>
    <i class="material-icons"> settings </i>
    <i class="material-icons"> account_circle </i>
</mat-toolbar>
<main>
    <section name="areas">
        <span class="title">Areas</span>
        <div class="content">
            <button *ngFor="let area of areas" mat-raised-button [color]="area.id == area_active ? 'primary' : ''">
                {{area.name}} </button>
            <button mat-stroked-button class="btn-add">
                <i class="material-icons md-18">
                    add
                </i>
                <span>
                    Add Area
                </span>
            </button>
        </div>
    </section>

    <app-expanding-section name="tasks">
        <span class="title">Tasks</span>
        <div class="content">
            <button mat-flat-button [style.background-color]="'red'"> Task 1 </button>
            <button mat-flat-button [style.background-color]="'red'"> Task 1 </button>
            <button mat-flat-button [style.background-color]="'red'"> Task 1 </button>
            <button mat-flat-button [style.background-color]="'red'"> Task 1 </button>
            <button mat-flat-button [style.background-color]="'red'"> Task 1 </button>
            <button mat-flat-button [style.background-color]="'red'"> Task 1 </button>
            <button mat-flat-button [style.background-color]="'red'"> Task 1 </button>
            <button mat-flat-button [style.background-color]="'red'"> Task 1 </button>
            <button mat-flat-button [style.background-color]="'red'"> Task 1 </button>
            <button mat-flat-button [style.background-color]="'red'"> Task 1 </button>
            <button mat-flat-button [style.background-color]="'red'"> Task 1 </button>
            <button mat-flat-button [style.background-color]="'red'"> Task 1 </button>
            <button mat-flat-button [style.background-color]="'red'"> Task 1 </button>
            <button mat-flat-button [style.background-color]="'red'"> Task 1 </button>
            <button mat-flat-button [style.background-color]="'red'"> Task 1 </button>

            <button mat-stroked-button class="btn-add">
                <i class="material-icons md-18">
                    add
                </i>
                <span>
                    Add Task
                </span>
            </button>
        </div>
    </app-expanding-section>

</main>