main {
  max-width: 600px;
  margin: auto;
}


mat-accordion {
  mat-form-field {
    width: 100%;
  }
}

mat-card.src-box {
  padding: 10px 12px;
  display: flex;
  transform: translateY(3px);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  i {
    color: gray;
  }

  input {
    border: none;
    width: 100%;
    margin-left: 10px;
  }
}

.empty-list {
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px 10px;
  color: gray;
}

button.add {
  margin-left: auto;
  display: block;
  width: 100%;

  i {
    color: green;
  }
}
