<div class="head">
    <div class="row">
        <div>
            Volunteers
        </div>
        <div>
            <div class="hours" *ngFor="let hour of hours">
                <span> {{hour}} </span>
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="body">
    <div class="row">
        <div>
            John
        </div>
        <app-tasks-dropzone [attr.data-id]="'123john'">
            <app-scheduled-task [scheduledTask]="scheduled_task1" [attr.data-id]="scheduled_task1.id"></app-scheduled-task>
        </app-tasks-dropzone>
    </div>
</div>