$scroll-bar-width: 5px;

.head,
.body {
  width: 100%;

  > .row {
    display: flex;

    > div:nth-of-type(1) {
      display: block;
      flex: 0 0 auto;
      width: 150px;
      padding: 10px 15px;
      color: white;
    }

    > div:nth-of-type(2) {
      width: 100%;
    }
  }
}

.head {
  > .row {
    > div:nth-of-type(1) {
      font-size: large;
      background-color: purple;
    }

    > div:nth-of-type(2) {
      background-color: rgb(10, 6, 255);
      flex: 1 1 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 3px (20px + $scroll-bar-width) 3px 20px;

      > div.hours {
        color: white;
        position: relative;

        > hr {
          width: 1px;
          height: 7px;
          background-color: white;
          border: none;
          margin: 0;
          transform: translate(0, 10px);
        }

        > span {
          position: absolute;
          top: -10px;
          left: -10px;
        }
      }
    }
  }
}

.body {
  max-height: 200px;
  overflow: scroll;

  > .row {
    > div:nth-of-type(1) {
      font-size: large;
      background-color: green;
    }

    > div:nth-of-type(2) {
      position: relative;
      padding: 3px 0;
      margin: 0 20px;
      border: 2px solid;

      > button.scheduled-task {
        position: absolute;
        height: 100%;
        padding: 0;
        top: 50%;
        transform: translateY(-50%);
        border: none;

        &:hover {
          > div.resize {
            visibility: visible;
          }
        }

        > span {
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
          overflow: hidden;
          display: block;
        }

        > div.resize {
          $picker-width: 6px;

          visibility: hidden;
          position: absolute;
          width: $picker-width;
          height: 100%;
          top: 0;

          &.left {
            left: -3px;
          }

          &.right {
            right: -3px;
          }

          & > div {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            background-color: rgb(0, 183, 255);
            width: 100%;
            height: $picker-width;
          }
        }
      }
    }

    &:nth-child(even) {
      background-color: whitesmoke;
      .first-col {
        background-color: lighten(green, 10%);
      }
    }
  }
}
