@import "src/vars.scss";

$scroll-bar-width: 5px;
$hours-padding: 25px;

:host {
  --first-col-width: 150px;
}

header {
  display: grid;
  background-color: $primary;
  grid-template-columns: var(--first-col-width) 1fr;
  border-bottom: 1px solid lightgray;

  > .src-box {
    padding: 10px 12px;
    display: flex;
    transform: translateY(3px);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    i {
      color: gray;
    }

    input {
      border: none;
      width: 100%;
      margin-left: 10px;
      font-size: small;

      &::placeholder {
        font-size: medium;
      }
    }
  }

  > .hours {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $hours-padding;
    border-left: 1px solid lightgray;

    > div {
      position: relative;
      height: 100%;

      > span {
        position: absolute;
        transform: translateX(-50%);
        font-size: small;
        top: 1em;
      }

      > hr {
        width: 1px;
        height: 8px;
        background-color: gray;
        position: absolute;
        border: none;
        margin: 0;
        bottom: 0;
      }
    }
  }
}

ul.body {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    display: grid;
    grid-template-columns: var(--first-col-width) 1fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid lightgray;
    padding: 0;

    > .volunteer-name {
      padding: 10px 12px;
      font-size: small;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-right: 1px solid lightgray;
    }
  }
}

// .head,
// .body {
//   width: 100%;

//   > .row {
//     display: flex;

//     > div:nth-of-type(1) {
//       display: block;
//       flex: 0 0 auto;
//       width: 150px;
//       padding: 10px 15px;
//       color: white;
//     }

//     > div:nth-of-type(2) {
//       width: 100%;
//     }
//   }
// }

// .head {
//   > .row {
//     > div:nth-of-type(1) {
//       font-size: large;
//       background-color: purple;
//     }

//     > div:nth-of-type(2) {
//       background-color: rgb(10, 6, 255);
//       flex: 1 1 100%;
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       padding: 3px (20px + $scroll-bar-width) 3px 20px;

//       > div.hours {
//         color: white;
//         position: relative;

//         > hr {
//           width: 1px;
//           height: 7px;
//           background-color: white;
//           border: none;
//           margin: 0;
//           transform: translate(0, 10px);
//         }

//         > span {
//           position: absolute;
//           top: -10px;
//           left: -10px;
//         }
//       }
//     }
//   }
// }

// .body {
//   max-height: 200px;
//   overflow-y: scroll;

//   > .row {
//     > div:nth-of-type(1) {
//       display: flex;
//       flex-direction: column;
//       align-items: center;

//       > span {
//         width: 100%;
//         display: block;
//         font-size: medium;
//         white-space: nowrap;
//         overflow: hidden;
//         text-overflow: ellipsis;
//       }
//       background-color: green;
//     }

//     > app-tasks-dropzone {
//       position: relative;
//       display: block;
//       padding: 3px 0;
//       margin: 0 20px;
//       border: 2px solid;
//       width: 100%;
//     }

//     &:nth-child(even) {
//       background-color: whitesmoke;
//       .first-col {
//         background-color: lighten(green, 10%);
//       }
//     }
//   }
// }
