@import 'src/vars.scss';

$scroll-bar-width: 5px;
$hours-padding: 25px;

:host {
  --first-col-width: 150px;
}

header {
  display: grid;
  grid-template-columns: var(--first-col-width) 1fr;
  border-bottom: 2px solid $primary;

  > .src-box {
    padding: 10px 12px;
    display: flex;
    transform: translateY(3px);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: $primary;

    input {
      border: none;
      width: 100%;
      margin-left: 10px;
      font-size: small;

      &::placeholder {
        font-size: medium;
      }
    }
  }

  > .hours {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $hours-padding;
    border-left: 1px solid lightgray;

    > div {
      position: relative;
      height: 100%;
      color: $primary;

      > span {
        position: absolute;
        transform: translateX(-50%);
        font-size: small;
        top: 1em;
      }

      > hr {
        width: 1px;
        height: 8px;
        background-color: $primary;
        position: absolute;
        border: none;
        margin: 0;
        bottom: 0;
      }
    }
  }
}

ul.body {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    display: grid;
    grid-template-columns: var(--first-col-width) 1fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid lightgray;
    padding: 0;

    > .volunteer-name {
      padding: 10px 12px;
      font-size: small;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-right: 1px solid lightgray;
    }

    > app-tasks-dropzone {
      position: relative;
      display: block;
      padding: 0 $hours-padding;
    }
  }
}

