<mat-tab-group (selectedTabChange)="onAreaChange($event)">
    <mat-tab *ngFor="let area of areas" [label]="area.name"></mat-tab>
</mat-tab-group>

<main>
    <section name="tasks" class=""> 
        <small>Tasks</small>
        <ul name="available-tasks">
            <li *ngFor="let task of tasks">
                <app-available-task class="elevation-1 hover" [task]="task" [attr.data-id]="task.id"></app-available-task>
            </li>
        </ul>
        <app-delete-task-dropzone class="elevation-1 hover" [style.display]="dragdrop.delete_task_dropzone.visible ? 'block' : 'none'"></app-delete-task-dropzone>
    </section>

    <mat-card>
        <app-timetable class="elevation-1"></app-timetable>
    </mat-card>
</main>

<app-drag-cursor></app-drag-cursor>