section[name="tasks"] {
  position: relative;
  padding: 0 10px;

  ul[name="available-tasks"] {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    > li {
      margin: 5px;
    }
  }

  app-delete-task-dropzone {
    display: block;
    position: absolute;
    height: 100%;
    width: calc(100% - 20px);
    top: 0;
  }
}

main {
  padding: 20px 0;
}

app-timetable {
  margin-top: 10px;
  display: block;
}



