section[name="tasks"] {
  position: relative;

  ul[name="available-tasks"] {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    > li {
      margin: 5px;
    }
  }
}

main {
  padding: 20px 5px;
}

app-delete-task-dropzone {

}

app-timetable {
  margin-top: 10px;
}

