<mat-tab-group (selectedTabChange)="onAreaChange($event)">
    <mat-tab *ngFor="let area of areas" [label]="area.name"></mat-tab>
</mat-tab-group>

<main>
    <section name="tasks">
        <small>Tasks</small>
        <ul name="available-tasks">
            <li *ngFor="let task of tasks">
                <app-available-task [task]="task" [attr.data-id]="task.id"></app-available-task>
            </li>
        </ul>
        <app-delete-task-dropzone [style.display]="dragdrop.delete_task_dropzone.visible ? 'block' : 'none'"></app-delete-task-dropzone>
    </section>

    <app-timetable></app-timetable>
</main>

<app-drag-cursor></app-drag-cursor>