<app-nav></app-nav>

<main>

    <mat-tab-group selectedIndex='1'>
        <mat-tab label="Timetable">
            <app-timetable-tab #timetable></app-timetable-tab>
        </mat-tab>
        <mat-tab label="Volunteers"> 
            <app-volunteers-tab></app-volunteers-tab>
        </mat-tab>
        <mat-tab label="Areas"> 
            <app-areas-tab></app-areas-tab>
        </mat-tab>
        <mat-tab label="Tasks">
            <app-tasks-tab></app-tasks-tab>
        </mat-tab>
    </mat-tab-group>


    <!-- <section name="areas">
        <span class="title">Areas</span>
        <ul class="content">
            <button *ngFor="let area of areas" class="area-item" mat-raised-button
                [color]="area.id == area_active ? 'primary' : ''">
                {{area.name}} </button>
            <button mat-stroked-button class="btn-add">
                <i class="material-icons md-18">
                    add
                </i>
                <span>
                    Add Area
                </span>
            </button>
        </ul>
    </section>

    <section name="tasks">
        <span class="title">Tasks</span>
        <ul class="content">
            <app-task *ngFor="let task of tasks"></app-task>

            <button mat-stroked-button class="btn-add">
                <i class="material-icons md-18">
                    add
                </i>
                <span>
                    Add Task
                </span>
            </button>
        </ul>
    </section> -->

    


</main>