<section name="timetable">
    <div class="head">
        <div class="row">
            <div>
                Volunteers
            </div>
            <div>
                <div class="hours" *ngFor="let hour of hours">
                    <span> {{hour}} </span>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="row">
            <div>
                John
            </div>
            <div class="tasks">
                <div class="task" [ngStyle]="{'left.%': 10, 'width.%': '5','background-color': 'red'}">
                    <span> Task A </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                John
            </div>
            <div class="tasks">
                <div class="task" [ngStyle]="{'left.%': 10, 'width.%': '5','background-color': 'red'}">
                    <span> Task A </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                John
            </div>
            <div class="tasks">
                <div class="task" [ngStyle]="{'left.%': 10, 'width.%': '5','background-color': 'red'}">
                    <span> Task A </span>
                </div>
            </div>
        </div>
    </div>
</section>