<section>
    <ng-content select=".title"></ng-content>
    <input type="checkbox" hidden #ckbox_toggle>
    <div class="row">
        <ng-content select=".content"></ng-content>
        <button mat-icon-button class="btn_expand" (click)="ckbox_toggle.checked = !ckbox_toggle.checked">
            <button mat-icon-button for="ckbox_open">
                <i class="material-icons">
                    keyboard_arrow_down
                </i>
            </button>
        </button>
    </div>
</section>