/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
    padding: 15px 20px 10px 20px;
}

h1, h2, h3 {
  font-weight: normal;
}

mat-toolbar {
  justify-content: space-between;

  a#logo {
    height: 60%;
    > img {
      height: 100%;
    }
  }

  i#account_circle {
    font-size: 2em;
  }
}
